@charset "utf-8";

main {

}

main section {

}

#main_intro {
    height:100vh;
    overflow: hidden;
}

#main_intro h2 {
    display:none;
}

#main_intro article {
    position:absolute;
    width:100%;
    top:50%;
    transform: translateY(-50%);
    z-index:100;
    text-align:center;
    color:var(--t-color02);
}

#main_intro article h3 {
    font-size:60px;
    font-weight:bold;
}

#main_intro article p {
    line-height:80px;
    font-size:16px;
}

#main_intro article a {
    color:var(--t-color02);
    font-size:14px;
    text-decoration: underline;
    margin:0 20px;
    padding:5px 10px;
}

#main_intro article a:first-of-type {
    background:var(--bg-color01);
}

#main_intro #next_btn {
    display:block;
    position:absolute;
    bottom:20px;
    left:50%;
    width:24px;
    height:24px;
    text-indent: -9999px;
    border-right:1px solid var(--t-color02);
    border-bottom:1px solid var(--t-color02);
    transform: rotate(45deg) translateX(-50%);
}

#top3, #intro, #event, #test, #buy, #cs {
    /* height:800px; */
    padding:50px 0;
    /* background:#ccc; */
}

/* section 2 */

.swiper {
    position:absolute;
    left:50%;
    transform: translateX(-50%);
    padding-bottom:620px;
    
    width:100%;
    min-width:1180px;
    height: 620px;
    margin:80px auto 120px;
    overflow: visible;
}

.swiper > h3 {
    display:none;
}

#top3 h2 {
    font-size:46px;
    margin:40px 0 24px;
    text-align: center;
    font-weight:bolder;
}

#top3 h2 + p {
    text-align:center;
    font-size:16px;
    font-weight:bold;
}

.swiper-slide {
    width:1024px;
}

.swiper-slide h4 span{
    display:block;
    margin:0 auto 18px;
    line-height:26px;
    width:66px;

    font-size:14px;
    color:var(--t-color03);
    border:2px solid var(--t-color03);
    border-radius:16px;
    box-sizing: border-box;
    text-align: center;
}

.swiper-slide h4 {
    font-size:30px;
    color:var(--bg-color02);
    font-weight:500;
    text-align: center;
}

.car_img_box {
    width:328px;
    margin:90px  auto 70px;
}

.car_img_box img {
    width:100%;
}

.spec {
    display:flex;
    width:780px;
    margin:0 auto;
    justify-content: center;
    font-size:15px;
    line-height:20px;
    margin-bottom:50px;

    opacity:0;
    transition:0.6s;
}

.spec li {
    padding:0 30px;
    border-right:1px solid #e1e1e1;
}

.spec li:last-child {
    border:none;
}

.swiper-slide-active .spec {
    opacity:1;
}

.color_box {
    display:flex;
}

.color_box > span {
    display:block;
    width:56px;
    height:40px;
    margin-right: 20px;
}

.color_box-khaki {
    background:#4d4f42;
}

.color_box-black {
    background:#131210;
}

.color_box-white {
    background:#fff;
    border:1px solid #e1e1e1;
    box-sizing: border-box;
}

.color_box-orange {
    background:#ff3e20;
}

.car_price {
    color:var(--bg-color02);
}

.car_price span {
    font-size:26px;
    font-weight:500;
}


.estimate_btn {
    display:block;
    margin:0 auto;
    width:202px;
    line-height:46px;

    border:2px solid var(--t-color01);
    box-sizing: border-box;
    text-align:center;
    font-size:15px;
}

.swiper-pagination {
    bottom:0 !important;
}

.swiper-pagination-bullet-active {
    background:var(--t-color03) !important;
}

.swiper-button-next,
.swiper-button-prev {
    position:absolute;
    top:50%;
    transform: translateY(-50%);
    color:#494949 !important;
}

.swiper-button-next {
    right:calc(50% - 650px) !important;
}

.swiper-button-prev {
    left:calc(50% - 650px) !important;
}

.m_title {
    font-size:46px;
    margin:80px 0 24px;
    text-align: center;
    font-weight:bolder;
}

section#intro {
    position: relative;
    height:900px;
    overflow: hidden;
}

section#intro video {
    object-fit: cover;
    width:100%;
    height:100%;
}

section#intro h2 {
    position:absolute;
    width:100%;
    text-align: center;
}

#intro p {
    position: absolute;
    font-size:36px;
    font-weight:bold;
    line-height:40px;
}

.left_title {
    top:200px;
    left:50px;
}

.right_title {
    right:50px;
    bottom:120px;
    text-align: right;
}


/* 더보기 보튼 */
.more_btn {
    position:absolute;
    left:50%;
    transform: translateX(-50%);
    bottom:120px;
    display:block;
    margin:0 auto;
    width:202px;
    line-height:46px;
    background:var(--bg-color03);

    border:2px solid var(--t-color01);
    box-sizing: border-box;
    text-align:center;
    font-size:15px;
    transition: 0.5s;
}

.more_btn:hover {
    background:var(--bg-color01);
    color:var(--t-color02);
}


/* 시승신청 */

section#test {
    text-align: center;
}

section#test h2 + p {
    text-align: center;
    font-size:var(--f-size02);
    font-weight:bold;
}

#test > article {
    width:430px;
    height:260px;
    padding:15px;
    border:1px solid #ccc;
    text-align: center;
    position:relative;
    margin-top:50px;
    display:inline-block;
}

.test_drive_l {
    margin-right:30px;
}

.test_drive_r {
    transform: translateY(-21px);
}

#test > article h3 {
    padding-top:20px;
    font-weight:bold;
    font-size:24px;
    line-height:36px;
}

#test > article > p {
    font-weight: 500;
    font-size:var(--f-size01);
    line-height:20px;
    padding:15px 0;
}

.test_drive_btn {
    background:var(--bg-color02);
    color:var(--t-color02);
    line-height:30px;
    padding:10px 60px;
}

.test_drive_btn2 {
    color:var(--bg-color01);
    position: relative;
    top:16px;
}

.test_drive_p2 {
    position: absolute;
    bottom:-60px;
    left:0;
}

#event{
    background:#f2f2f2;
}

section#event h2 + p {
    text-align: center;
    font-size:var(--f-size02);
    font-weight:bold;
}

.e_slide {
    position: relative;
    max-width:1200px;
    width:100%;
    margin:60px auto;
    padding-bottom:60px;
    overflow:hidden;
}

.e_slide_wrap {
    display:flex;
    width:400%;
    /* margin-left:0; */
    position: relative;
    left:0px;
    transition: 0.5s;

}

.e_slide_wrap li {
    width:100%;
    height:300px;
}

.e_slide_wrap li img {
    max-width:1200px;
    width:100%;
    height:100%;
    object-fit: cover;
}

.e_slide_bullet {
    display:flex;
    position:absolute;
    left:50%;
    transform: translateX(-50%);
    bottom:0;
}

.e_slide_bullet li {
    width:8px;
    height:8px;
    background:#d8d8d8;
    margin:0 4px;
    border-radius: 4px;
}

.e_slide_bullet li.on {
    background:var(--t-color03);
}



/* 모달 */
.modal {
    position:fixed;
    display:flex;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.7);

    z-index:9999;
}

.m_inner {
    margin:auto;
    width:450px;
    height:690px;
    position:relative;
}

.m_inner p {
    background:#fff;
    line-height:40px;
    padding:0 5px;
    box-sizing:border-box;
    font-size:var(--f-size01);
}

.m_inner input {
    transform: translateY(2px);
}

.m_inner p a, 
label[for=ch] {
    color:var(--t-color01);
}

.m_inner img {
    display:block;
}

.m_inner p a {
    position: absolute;
    right:10px;
    font-size:var(--f-size01);
}



